[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Currently extending the Monkey programming language designed in the books "
[access "refs/*"]
	owner = group user/Bradford Lamson-Scribner (bradford-hamilton)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Bradford Lamson-Scribner (bradford-hamilton)
	label-Verified = -1..+1 group user/Bradford Lamson-Scribner (bradford-hamilton)
	push = group user/Bradford Lamson-Scribner (bradford-hamilton)
	read = group user/Bradford Lamson-Scribner (bradford-hamilton)
	rebase = group user/Bradford Lamson-Scribner (bradford-hamilton)
	removeReviewer = group user/Bradford Lamson-Scribner (bradford-hamilton)
	submit = group user/Bradford Lamson-Scribner (bradford-hamilton)
[access "refs/heads/*"]
	create = group user/Bradford Lamson-Scribner (bradford-hamilton)
	push = +force group user/Bradford Lamson-Scribner (bradford-hamilton)
	pushMerge = group user/Bradford Lamson-Scribner (bradford-hamilton)
	read = group user/Bradford Lamson-Scribner (bradford-hamilton)
[access "refs/tags/*"]
	push = group user/Bradford Lamson-Scribner (bradford-hamilton)
	push = +force group user/Bradford Lamson-Scribner (bradford-hamilton)
